/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
selenium.php
composer.lock
.editorconfig
.gitattributes
.htaccess
.travis.yml
CHANGELOG.md
CODE_OF_CONDUCT.md
LICENSE
README.md
artisan
bootstrap/
composer.json
config/
index.php
modules/
phpunit.xml
server.php
storage/
tests/
CONTRIBUTING.md
ISSUE_TEMPLATE.md
plugins/
themes/teafito/

# for netbeans
nbproject
